.git
**/.git
.gitignore
**/.gitignore
.idea
.vscode
**/.env
**/.env.*
.dockerignore
**/docker-compose.yml
**/.air.toml
Makefile
**/Makefile
**/*.md
LICENSE
**/vendor
**/bin
**/out
**/node_modules
infrastructure/data
**/*.log
**/tmp
